@font-face {
  font-family: "ITC Avant-Garde";
  src: url("./assets/ITCAvantGardeStd-BkObl.woff2") format("woff2"), /* Super Moderns Browsers */
       url("./assets/ITCAvantGardeStd-BkObl.woff") format("woff"), /* Moderns Browsers */
       url("./assets/ITCAvantGardeStd-BkObl.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "ITC Avant-Garde", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
